/* ---------------------------------------------- /*
 * Main
/* ---------------------------------------------- */
@import 'https://fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,500,500i,700,700i,900,900i&subset=latin-ext';



/* General */
body{
    background: #ebeff1;
    background: orange;
    font-family: "Roboto";
}
/* Header */
header{
    background-color: #646e7b;
    width: 100%;
    float: left;
    min-height: 70px;
    box-shadow: 0 0 20px 5px #646e7b;
    border-radius: 5px 20px 5px;
    position: relative;
    margin: 4px;
}
/* Body Elements */
.weather{
    top: 70px;
    position: relative;
    /*    display: flex;*/
    align-items: center;
}
.weather .col-sm-4{
    background: white;
    height: 70px;
    margin: 10px;
    display: inline-block;
    max-width: 360px;
}
.weather .col-sm-4:first-child{
}
.weather .col-sm-4:last-child{
/*    margin-right: 0;*/
}


.city .city-name {

}