/* ---------------------------------------------- /*
 * Main
/* ---------------------------------------------- */
/*@import 'https://fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,500,500i,700,700i,900,900i&subset=latin-ext';*/
/*font-family: 'Roboto Condensed', sans-serif;*/


/* General */
body{
    background: #ebeff1;
    background: orange;
    font-family: 'Roboto Condensed', sans-serif;
    overflow-x: hidden;
}
/* Header */
header{
    background-color: #646e7b;
    width: 100%;
    float: left;
    min-height: 70px;
    box-shadow: 0 0 20px 5px #646e7b;
    border-radius: 5px 20px 5px;
    position: relative;
    margin: 4px;
}
/* Body Elements */
.weather{
    top: 70px;
    position: relative;
    /*    display: flex;*/
    align-items: center;
}
.weather .col-sm-4{
    background: white;
    height: 86px;
    margin: 10px;
    max-width: 360px;
}
.weather .col-sm-4 h3{
    float: left;
    color: #4c5766;
    font-weight: bold;
    margin-bottom: 0;
}
.weather .col-sm-4 p{
    color: #91999d;
    font-weight: lighter;
}
.weather .col-sm-4:first-child{
}
.weather .col-sm-4:last-child{
    /*    margin-right: 0;*/
}
.city .city-name {

}
.city{
    position: relative;
}
.temperature span{
    font-weight: lighter;
    font-size: 10px;
    top: 20px;
    position: absolute;
    font-family: sans-serif;
}
.temp-clouds h3{
    width: 100%;
    text-align: center;
}
.temp-clouds p{
    width: 100%;
    text-align: center;
}
.hum-wind{
    margin-top: 20px;
}
.hum-wind p{
    margin-top: 2px;
    margin-bottom: 2px;
}