/*-----------------------------------------

Start Responsive CSS get Weather.

-----------------------------------------*/

@media (max-width: 1230px) {
    .weather{
        height: auto;
    }
    .weather .col-sm-4{
        min-width: 100%;
    }
    .city-date{
        width: 33%;
        float: left;
    }
    .weather .col-sm-4 p{
        float: left;
        width: 100%;
    }
    .hum-wind{
        width: 33%;
        float: left;
    }
    .temp-clouds{
        width: 33%;
        float: left;
    }
}
@media (max-width: 850px){
    .weather{
        clear: both;
        margin-right: 20px;
    }
}
@media (max-width: 630px){
    header .container form{
        position: absolute;
        max-width: 50%;
        left: 30px;
    }
}
